/*!
 *  Hack v2.020 - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Hack Open Font License + Bitstream Vera license, CSS: MIT License
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
  font-family: 'Hack';
  src: url("../fonts/eot/latin/hack-regular-latin-webfont.eot?v=2.020");
  src: url("../fonts/eot/latin/hack-regular-latin-webfont.eot?#iefix&v=2.020") format("embedded-opentype"), url("../fonts/woff2/latin/hack-regular-latin-webfont.woff2?v=2.020") format("woff2"), url("../fonts/woff/latin/hack-regular-latin-webfont.woff?v=2.020") format("woff"), url("../fonts/web-ttf/latin/hack-regular-latin-webfont.ttf?v=2.020") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Hack';
  src: url("../fonts/eot/latin/hack-bold-latin-webfont.eot?v=2.020");
  src: url("../fonts/eot/latin/hack-bold-latin-webfont.eot?#iefix&v=2.020") format("embedded-opentype"), url("../fonts/woff2/latin/hack-bold-latin-webfont.woff2?v=2.020") format("woff2"), url("../fonts/woff/latin/hack-bold-latin-webfont.woff?v=2.020") format("woff"), url("../fonts/web-ttf/latin/hack-bold-latin-webfont.ttf?v=2.020") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Hack';
  src: url("../fonts/eot/latin/hack-italic-latin-webfont.eot?v=2.020");
  src: url("../fonts/eot/latin/hack-italic-latin-webfont.eot?#iefix&v=2.020") format("embedded-opentype"), url("../fonts/woff2/latin/hack-italic-latin-webfont.woff2?v=2.020") format("woff2"), url("../fonts/woff/latin/hack-italic-latin-webfont.woff?v=2.020") format("woff"), url("../fonts/web-ttf/latin/hack-italic-latin-webfont.ttf?v=2.020") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Hack';
  src: url("../fonts/eot/latin/hack-bolditalic-latin-webfont.eot?v=2.020");
  src: url("../fonts/eot/latin/hack-bolditalic-latin-webfont.eot?#iefix&v=2.020") format("embedded-opentype"), url("../fonts/woff2/latin/hack-bolditalic-latin-webfont.woff2?v=2.020") format("woff2"), url("../fonts/woff/latin/hack-bolditalic-latin-webfont.woff?v=2.020") format("woff"), url("../fonts/web-ttf/latin/hack-bolditalic-latin-webfont.ttf?v=2.020") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "mrrobot";
  src: url("../fonts/mrrobot.eot");
  src: url("../fonts/mrrobot.eot?#iefix") format("embedded-opentype"), url("../fonts/mrrobot.woff") format("woff"), url("../fonts/mrrobot.ttf") format("truetype"), url("../fonts/mrrobot.svg#mrrobot") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "mrrobot" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mrrobot" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter-square:before {
  content: "\61"; }

.icon-facebook-square:before {
  content: "\62"; }

.icon-camera:before {
  content: "\63"; }

.icon-caret-down:before {
  content: "\64"; }

.icon-heart-o:before {
  content: "\65"; }

.icon-heart:before {
  content: "\66"; }

.icon-reply:before {
  content: "\67"; }

/* PALETA */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Browser Scroll & Placeholders */
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  background-color: #0e0e0e;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ed0532; }

::-webkit-input-placeholder {
  color: #00fefe; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #00fefe; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #00fefe; }

:-ms-input-placeholder {
  color: #00fefe; }

/* GLOBAL */
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Hack', 'Monaco', monospace, courier;
  font-size: 12px; }

body.app {
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

body.page {
  background: #000 url(../img/bg.jpg) center center no-repeat fixed;
  background-size: cover; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

h4 {
  color: #ed0532;
  font-size: 18px;
  margin-bottom: 10px; }

.btn, .article .kodex_buttons .kodex_button, .comments-area #wpcomm .wc-field-submit input[type="button"] {
  padding: 10px 20px;
  padding-left: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 3px 3px 0px rgba(102, 102, 102, 0.5);
  border: 1px solid #ed0532;
  font-size: 11px;
  font-weight: bold;
  background-color: #ed0532;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #0e0e0e; }
  .btn:hover, .article .kodex_buttons .kodex_button:hover, .comments-area #wpcomm .wc-field-submit input[type="button"]:hover {
    background-color: #0e0e0e;
    color: #ed0532; }

/* PRELOADER */
#preload {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -100px;
  z-index: 10;
  text-align: center;
  width: 200px; }

/* APP */
#app {
  z-index: 5; }

/* HEADER */
#header {
  padding: 30px; }
  #header hgroup span {
    display: inline-block;
    padding-left: 15px;
    line-height: 1.4; }
  #header img {
    max-height: 35px; }
  #header .space {
    padding-bottom: 20px; }
  @media screen and (max-width: 420px) {
    #header hgroup span {
      padding: 15px 0px 0px 0px; } }
  @media screen and (max-width: 768px) {
    #header hgroup {
      padding-bottom: 20px; } }
  @media screen and (min-width: 768px) {
    #header hgroup {
      float: left;
      width: 60%; }
      #header hgroup a {
        float: left; }
    #header aside {
      float: left;
      width: 40%;
      text-align: right; }
      #header aside .space {
        float: right;
        margin-bottom: 0px; }
      #header aside .temporada {
        padding: 10px; } }

/* SECTIONS */
.app .single {
  margin: 100px auto; }

.single {
  max-width: 720px;
  margin: 0px auto; }

.article {
  padding: 20px;
  background: #000;
  background: rgba(0, 0, 0, 0.9); }
  .article p {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1.5; }
  .article hgroup {
    position: relative;
    letter-spacing: 5px;
    display: block;
    width: 100%; }
    .article hgroup h3 {
      z-index: 12; }
    .article hgroup small {
      display: block;
      padding: 5px 10px;
      font-size: 11px; }
    .article hgroup strong {
      display: inline-block;
      color: #0e0e0e;
      background-color: #ed0532;
      padding: 5px 10px;
      font-size: 14px; }
    .article hgroup h1 {
      font-size: 20px;
      display: inline-block;
      background-color: #0e0e0e;
      color: #FFFFFF;
      padding: 10px;
      border: 1px solid #ed0532;
      box-shadow: 4px 4px 0px -1px #ed0532;
      max-width: 75%;
      line-height: 1.3; }
  .article figure {
    border: 1px solid #ed0532;
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      .article figure {
        width: 50%;
        float: left;
        margin: 20px 20px 20px -200px; } }
  .article .body {
    padding: 20px 20px 20px 0px; }
    .article .body strong {
      color: #ed0532;
      background-color: #ed0532; }
    .article .body em {
      text-decoration: line-through; }
  .article .kodex_buttons {
    display: block;
    width: 100%;
    clear: both; }
    .article .kodex_buttons .kodex_button {
      margin-right: 10px;
      line-height: 26px; }
      .article .kodex_buttons .kodex_button .counter {
        display: inline-block;
        padding: 0px 10px;
        margin-left: 10px;
        color: #FFFFFF;
        background: #0e0e0e; }

/* COMENTARIOS */
.comments-area h3,
.comments-area a:hover {
  color: #ed0532; }

.comments-area #wpcomm {
  padding: 10px 0px;
  border-top: #0e0e0e solid 1px;
  /* FORM */ }
  .comments-area #wpcomm p {
    font-size: 12px; }
  .comments-area #wpcomm .wc-form-wrapper {
    padding: 0px;
    border: none;
    background: transparent; }
  .comments-area #wpcomm .avatar {
    border-radius: 50px; }
  .comments-area #wpcomm .wc-comment-label {
    border-radius: 4px;
    font-size: 10px; }
  .comments-area #wpcomm .wc-comment-header {
    font-family: inherit; }
  .comments-area #wpcomm .wc-comment-author,
  .comments-area #wpcomm .wc-comment-author a {
    font-size: 12px;
    line-height: 1; }
  .comments-area #wpcomm .wc-toggle,
  .comments-area #wpcomm .wc-comment-date {
    font-size: 11px;
    font-style: italic;
    color: #666666; }
  .comments-area #wpcomm .wc-comment-date {
    line-height: 1; }
  .comments-area #wpcomm .wc-comment .wc-comment-right {
    border: 1px solid #111;
    border-radius: 4px; }
  .comments-area #wpcomm .wc-comment-footer .wc-vote-result {
    color: #0e0e0e; }
    .comments-area #wpcomm .wc-comment-footer .wc-vote-result.wc-negative {
      background-color: #ed0532;
      border: 1px solid #ed0532; }
    .comments-area #wpcomm .wc-comment-footer .wc-vote-result.wc-positive {
      background-color: #00fefe;
      border: 1px solid #00fefe; }
  .comments-area #wpcomm .wc-form-wrapper .ed_button {
    font-family: 'Hack','Monaco', monospace, courier;
    border: 1px solid #0e0e0e;
    background: #000;
    box-shadow: none; }
  .comments-area #wpcomm .wc-form-wrapper .quicktags-toolbar {
    min-height: 37px;
    background: #000; }
  .comments-area #wpcomm .wc-field-comment .wc-field-textarea textarea {
    background: #0e0e0e;
    font-family: 'Hack','Monaco', monospace, courier;
    font-size: 13px; }
    .comments-area #wpcomm .wc-field-comment .wc-field-textarea textarea:focus {
      outline: none; }

/* FOOTER */
#footer {
  text-align: center;
  margin-bottom: 100px; }

@media screen and (min-width: 420px) {
  #audio {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 15; } }

/* DEBUG */
.no-debug #debug {
  display: none; }

#gui {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 0px; }

/* MODALS */
.mfp-bg {
  background-color: #000;
  position: relative;
  z-index: 100; }

.mfp-fade.mfp-bg {
  top: 100px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
  top: 0px; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  top: 100px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 100%;
  height: 100%; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  top: 0px; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  top: 100px; }

.mfp-close-btn-in .mfp-close {
  color: #ed0532;
  font-size: 70px;
  top: 100px;
  right: 80px;
  opacity: 1; }

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px; }
  .comments-list .comment-box {
    width: 390px; }
  .reply-list .comment-box {
    width: 320px; } }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, #header:before,
.clearfix:after,
#header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, #header:after {
  clear: both; }
