/*!
 *  Hack v2.020 - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Hack Open Font License + Bitstream Vera license, CSS: MIT License
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
  font-family: 'Hack';
  src: url("../fonts/eot/latin/hack-regular-latin-webfont.eot?v=2.020");
  src: url("../fonts/eot/latin/hack-regular-latin-webfont.eot?#iefix&v=2.020") format("embedded-opentype"), url("../fonts/woff2/latin/hack-regular-latin-webfont.woff2?v=2.020") format("woff2"), url("../fonts/woff/latin/hack-regular-latin-webfont.woff?v=2.020") format("woff"), url("../fonts/web-ttf/latin/hack-regular-latin-webfont.ttf?v=2.020") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Hack';
  src: url("../fonts/eot/latin/hack-bold-latin-webfont.eot?v=2.020");
  src: url("../fonts/eot/latin/hack-bold-latin-webfont.eot?#iefix&v=2.020") format("embedded-opentype"), url("../fonts/woff2/latin/hack-bold-latin-webfont.woff2?v=2.020") format("woff2"), url("../fonts/woff/latin/hack-bold-latin-webfont.woff?v=2.020") format("woff"), url("../fonts/web-ttf/latin/hack-bold-latin-webfont.ttf?v=2.020") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Hack';
  src: url("../fonts/eot/latin/hack-italic-latin-webfont.eot?v=2.020");
  src: url("../fonts/eot/latin/hack-italic-latin-webfont.eot?#iefix&v=2.020") format("embedded-opentype"), url("../fonts/woff2/latin/hack-italic-latin-webfont.woff2?v=2.020") format("woff2"), url("../fonts/woff/latin/hack-italic-latin-webfont.woff?v=2.020") format("woff"), url("../fonts/web-ttf/latin/hack-italic-latin-webfont.ttf?v=2.020") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Hack';
  src: url("../fonts/eot/latin/hack-bolditalic-latin-webfont.eot?v=2.020");
  src: url("../fonts/eot/latin/hack-bolditalic-latin-webfont.eot?#iefix&v=2.020") format("embedded-opentype"), url("../fonts/woff2/latin/hack-bolditalic-latin-webfont.woff2?v=2.020") format("woff2"), url("../fonts/woff/latin/hack-bolditalic-latin-webfont.woff?v=2.020") format("woff"), url("../fonts/web-ttf/latin/hack-bolditalic-latin-webfont.ttf?v=2.020") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "mrrobot";
  src: url("../fonts/mrrobot.eot");
  src: url("../fonts/mrrobot.eot?#iefix") format("embedded-opentype"), url("../fonts/mrrobot.woff") format("woff"), url("../fonts/mrrobot.ttf") format("truetype"), url("../fonts/mrrobot.svg#mrrobot") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "mrrobot" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mrrobot" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter-square:before {
  content: "\61"; }

.icon-facebook-square:before {
  content: "\62"; }

.icon-camera:before {
  content: "\63"; }

.icon-caret-down:before {
  content: "\64"; }

.icon-heart-o:before {
  content: "\65"; }

.icon-heart:before {
  content: "\66"; }

.icon-reply:before {
  content: "\67"; }

/* PALETA */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Browser Scroll & Placeholders */
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  background-color: #0e0e0e;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ed0532; }

::-webkit-input-placeholder {
  color: #00fefe; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #00fefe; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #00fefe; }

:-ms-input-placeholder {
  color: #00fefe; }

/* GLOBAL */
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Hack', 'Monaco', monospace, courier;
  font-size: 12px; }

body.app {
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

h4 {
  color: #ed0532;
  font-size: 18px;
  margin-bottom: 10px; }

.btn-primary {
  padding: 10px 25px;
  padding-left: 30px;
  letter-spacing: 10px;
  background-color: #ed0532;
  color: #0e0e0e;
  box-shadow: 5px 5px 0px rgba(102, 102, 102, 0.5);
  opacity: 0.9; }

.btn-rojo {
  padding: 5px 15px;
  background-color: #ed0532;
  color: #0e0e0e; }
  .btn-rojo:hover {
    color: #FFFFFF; }

.btn-black {
  display: inline-block;
  background-color: #0e0e0e;
  color: #FFFFFF;
  padding: 10px;
  border: 1px solid #ed0532;
  box-shadow: 4px 4px 0px -1px #ed0532; }
  .btn-black:hover {
    color: #ed0532; }

/* PRELOADER */
#preload {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -100px;
  z-index: 10;
  text-align: center;
  width: 200px; }

/* APP */
#app {
  z-index: 5; }

/* SECTIONS */
.single {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  overflow: hidden;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.95);
  border: 4px double #ed0532;
  padding: 20px; }

.article {
  float: left;
  width: 50%;
  margin: 0px;
  height: 90%;
  overflow-y: scroll; }
  .article:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }
  .article .container {
    position: relative;
    z-index: 12;
    background: #0e0e0e;
    border: 1px solid #ed0532; }
  .article p {
    padding-bottom: 15px;
    line-height: 1.5; }
  .article .title {
    position: relative;
    letter-spacing: 5px;
    /*
        img {
            filter: grayscale(1);
            transition: all 0.5s ease-in-out;
        }
        */ }
    .article .title figure {
      width: 75%; }
    .article .title h3 {
      z-index: 12; }
    .article .title small {
      display: block;
      padding: 5px 10px;
      font-size: 11px; }
    .article .title strong {
      display: inline-block;
      color: #0e0e0e;
      background-color: #ed0532;
      padding: 5px 10px;
      font-size: 14px; }
    .article .title h1 {
      font-weight: bold;
      font-size: 18px;
      display: inline-block;
      background-color: #0e0e0e;
      color: #FFFFFF;
      padding: 10px;
      border: 1px solid #ed0532;
      box-shadow: 4px 4px 0px -1px #ed0532; }
  .article .body {
    padding: 20px 20px 20px 0px; }
    .article .body strong {
      color: #ed0532;
      background-color: #ed0532; }
    .article .body em {
      text-decoration: line-through; }
  .article .more {
    text-align: right;
    padding: 0px 15px 25px; }

.share {
  position: absolute;
  bottom: 30px;
  left: 20px; }
  .share li {
    display: inline-block;
    font-size: 18px; }
  .share .icon {
    font-size: 24px;
    line-height: 15px; }
    .share .icon a:hover {
      color: #ed0532; }

.opiniones {
  float: right;
  width: 47%;
  margin: 0px;
  height: 90%;
  overflow-y: scroll; }
  .opiniones h4 {
    display: inline-block;
    color: #0e0e0e;
    background-color: #00fefe;
    padding: 5px 10px;
    font-size: 13px;
    margin-bottom: 20px; }

.comments-form {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 46%;
  /*
    a.fsociety-photo{
        text-align: center;
        display: block;
        width: 65px;
        height: 65px;
        line-height: 72px;
        background: $rojo;
        font-size: 24px;
    }
    */ }
  .comments-form .comment-box {
    background: #0e0e0e;
    padding: 5px; }
  .comments-form .frmName {
    color: #00fefe;
    width: 20%;
    float: left; }
  .comments-form .frmComment {
    color: #00fefe;
    width: 60%;
    float: left; }
  .comments-form .frmSend {
    color: #00fefe;
    width: 20%;
    float: right;
    text-align: right; }
  .comments-form input,
  .comments-form textarea {
    border: none;
    background: transparent;
    font-family: 'Hack','Monaco', monospace, courier;
    font-size: 13px;
    border: none;
    padding: 5px; }
    .comments-form input:focus,
    .comments-form textarea:focus {
      outline: none; }
  .comments-form input[type="submit"] {
    background: #00fefe;
    color: #0e0e0e;
    width: auto;
    cursor: default; }

.comments {
  line-height: 1.3;
  padding-right: 20px; }
  .comments li:hover .reactions {
    opacity: 1; }
  .comments li, .comments p {
    margin-bottom: 10px; }
  .comments a:hover {
    color: #ed0532; }
  .comments .date {
    float: left;
    margin-right: 5px;
    color: #ed0532; }
  .comments .user {
    float: left;
    margin-right: 5px;
    color: #00fefe; }
  .comments .comment {
    color: #666666; }
  .comments .reactions {
    display: block;
    opacity: 0;
    margin-top: -10px; }

/* FOOTER */
#footer {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 15; }

/* DEBUG */
.no-debug #debug {
  display: none; }

#gui {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 0px; }

/* MODALS */
.mfp-bg {
  background-color: #000;
  position: relative;
  z-index: 100; }

.mfp-fade.mfp-bg {
  top: 100px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
  top: 0px; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  top: 100px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 100%;
  height: 100%; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  top: 0px; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  top: 100px; }

.mfp-close-btn-in .mfp-close {
  color: #ed0532;
  font-size: 70px;
  top: 0px;
  opacity: 1;
  background: #000; }

/* COMENTARIOS */
.comments-list {
  padding-right: 20px; }

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list {
  position: relative; }

.comments-list:before {
  content: '';
  width: 2px;
  height: 100%;
  background: #ed0532;
  position: absolute;
  left: 32px;
  top: 0; }

.comments-list:after {
  content: '';
  position: absolute;
  background: #0e0e0e;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #ed0532;
  border-radius: 50%; }

.reply-list:before, .reply-list:after {
  display: none; }

.reply-list li:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #ed0532;
  position: absolute;
  top: 25px;
  left: -55px; }

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative; }

.comments-list li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0; }

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px; }

/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #ed0532;
  border-radius: 40px;
  overflow: hidden; }

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%; }

.reply-list .comment-avatar {
  width: 50px;
  height: 50px; }

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both; }

/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
  width: 80%;
  float: right;
  position: relative; }

.comments-list .comment-box:before, .comments-list .comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #0e0e0e;
  top: 8px;
  left: -11px; }

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px; }

.reply-list .comment-box {
  width: 75%; }

.comment-box .comment-head {
  background: #0e0e0e;
  padding: 10px 12px;
  overflow: hidden;
  border-radius: 4px 4px 0 0; }

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }

.comment-box .comment-name {
  float: left;
  margin-right: 10px; }

.comment-box .comment-head span {
  float: left;
  position: relative;
  top: 1px; }

.comment-box .comment-content {
  background: #000;
  padding: 12px;
  color: #595959;
  border-radius: 0 0 4px 4px; }

.comment-box a {
  color: #ed0532; }

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
  color: #ed0532; }

.comment-box .comment-name.by-author:after {
  content: 'autor';
  background: #ed0532;
  color: #FFF;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  border-radius: 3px; }

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px; }
  .comments-list .comment-box {
    width: 390px; }
  .reply-list .comment-box {
    width: 320px; } }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .single:before, .comments-form .comment-box:before,
.clearfix:after,
.single:after,
.comments-form .comment-box:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .single:after, .comments-form .comment-box:after {
  clear: both; }
