@import "fonts";

/* PALETA */

$rojo: #ed0532;
$blanco: #FFFFFF;
$negro: #0e0e0e;
$gris: #434343;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GLOBAL */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Monaco", monospace, courier;
    font-size: 13px;
}

body.app {
    overflow: hidden;
    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: transparent;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: $blanco;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

h4{
    color: $rojo;
    font-size: 18px;
    margin-bottom: 10px;
}

.btn-primary{
    $letter-spacing: 10px;
    padding: 10px 25px;
    padding-left: 25px + $letter-spacing/2;
    letter-spacing: $letter-spacing;
    background-color: $blanco;
    color: $negro;
    box-shadow: 5px 5px 0px rgba($gris, 0.5);
    opacity: 0.9;
}

.btn-secondary{
    padding: 5px 15px;
    background-color: $negro;
    color: $blanco;
    border: 1px solid $rojo;
}

.btn-black{
    display: inline-block;
    background-color: $negro;
    color: $blanco;
    padding: 10px;
    border: 1px solid $rojo;
    box-shadow: 4px 4px 0px -1px $rojo;

    &:hover{
        color: $rojo;
    }
}

/* PRELOADER */
#preload{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -100px;
    z-index: 10;
    text-align: center;
    width: 200px;
}

/* APP */
#app{
    z-index: 5;
}

/* SECTIONS */
.section{
    padding: 60px;
}

.article{
    position: relative;
    text-align: left;
    line-height: 1.3;

    .container{
        border: 1px solid $rojo;
    }

    .container{
        position: relative;
        z-index: 12;
        background: $negro;
    }

    p{
        padding-bottom: 15px;
        line-height: 1.5;
    }

    .title{
        position: relative;
        letter-spacing: 5px;

        img {
            filter: grayscale(1);
            transition: all 0.5s ease-in-out;
        }
        h3{
            position: absolute;
            top: -35px;
            left: 10px;
            z-index: 12;
        }
        small{
            display: block;
            padding: 5px 10px;
            font-size: 11px;
        }
        strong{
            display: block;
            color: $negro;
            background-color: $rojo;
            padding: 5px 10px;
            font-weight: bold;
            font-size: 18px;
        }
        h1{
            position: absolute;
            bottom: 15px;
            left: 10px;
            font-weight: bold; 
            font-size: 18px;
            display: inline-block;
            background-color: $negro;
            color: $blanco;
            padding: 10px;
            border: 1px solid $rojo;
            box-shadow: 4px 4px 0px -1px $rojo;
        }

        &:hover{
            img {
                filter: grayscale(0);
            }
        }
    }

    .body{
        padding: 15px 20px;
    
        strong{
            color: $rojo;
            background-color: $rojo;
        }

        em{
            text-decoration: line-through;
        }

        span{

        }
    }

    .more{
        text-align: right;
        padding: 0px 15px 25px;
    }

    .share{
        li{
            display: inline-block;
            font-size: 24px;
        }
        a:hover{
            color: $rojo;
        }
    }
}

/* FOOTER */

#footer{
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 15;
}

/* DEBUG */

.no-debug{
    #debug{
        display: none;
    }
}

#gui{
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 0px;
}

/* MODALS */

.single{
    max-width: 720px;
    margin: 0px auto;
}

.mfp-bg {
    background-color: #000;
}
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.5s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.5s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-close-btn-in .mfp-close{
    color: $rojo;
    font-size: 70px;
    top: 10px;
    opacity: 1;
}


/* COMENTARIOS */

.comments-container {
    margin: 60px auto 15px;
    width: 768px;
}

.comments-form {
    input,
    textarea{
        width: 100%;
        border: none;
        background: transparent;
        color: #FFFFFF;
        font-family: monospace, courier;
        font-size: 13px;
        border: none;
        padding: 4px;
    }
    input[type="submit"]{
        background: $rojo;
        color: #FFFFFF;
        border-radius: 4px;
        width: auto;
        cursor: default;
    }
    a.fsociety-photo{
        text-align: center;
        display: block;
        width: 65px;
        height: 65px;
        line-height: 72px;
        background: $rojo;
        font-size: 24px;
    }
}

.comments-list {
    position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: $rojo;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: $negro;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid $rojo;
    border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: $rojo;
    position: absolute;
    top: 25px;
    left: -55px;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid $rojo;
    border-radius: 40px;
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent $negro;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: $negro;
    padding: 10px 12px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.comment-box .comment-name {
    float: left;
    margin-right: 10px;
}

.comment-box .comment-head span {
    float: left;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #000;
    padding: 12px;
    color: #595959;
    border-radius: 0 0 4px 4px;
}

.comment-box a {color: $rojo;}
.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: $rojo;}
.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: $rojo;
    color: #FFF;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}