@import "fonts";

/* PALETA */

$rojo: #ed0532;
$celeste: #00fefe;
$verde: #00f80b;
$blanco: #FFFFFF;
$negro: #0e0e0e;
$gris: #666666;

$mobile: 480px;
$tablet: 768px;
$desktop: 920px;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Browser Scroll & Placeholders */

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background-color: $negro; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $rojo; 
}

::-webkit-input-placeholder {
   color: $celeste;
}

:-moz-placeholder { /* Firefox 18- */
   color: $celeste;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $celeste;  
}

:-ms-input-placeholder {  
   color: $celeste;  
}

/* GLOBAL */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Hack', 'Monaco', monospace, courier;
    font-size: 12px;
}

body.app {
    overflow: hidden;
    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: transparent;
}

body.page {
    background: #000 url(../img/bg.jpg) center center no-repeat fixed;
    background-size: cover;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: $blanco;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

h4{
    color: $rojo;
    font-size: 18px;
    margin-bottom: 10px;
}

.btn{
    $letter-spacing: 2px;
    padding: 10px 20px;
    padding-left: 20px + $letter-spacing/2;
    letter-spacing: $letter-spacing;
    text-transform: uppercase; 
    box-shadow: 3px 3px 0px rgba($gris, 0.5);
    border: 1px solid $rojo;
    font-size: 11px;
    font-weight: bold;
    background-color: $rojo;
    transition: all 0.2s ease-in-out;
    color: $negro;
    
    &:hover{
        background-color: $negro;
        color: $rojo;
    }
}

/* PRELOADER */
#preload{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -100px;
    z-index: 10;
    text-align: center;
    width: 200px;
}

/* APP */
#app{
    z-index: 5;
}

/* HEADER */

#header{
    padding: 30px;
    @extend .clearfix;

    hgroup{
        span{
            display: inline-block;
            padding-left: 15px;
            line-height: 1.4;
        }
    }

    img{ 
        max-height: 35px;
    }

    .space{
        padding-bottom: 20px;
    }

    @media screen and (max-width: $mobile) {
        hgroup{
            span{
                padding: 15px 0px 0px 0px;
            }
        }
    }

    @media screen and (max-width: $tablet) {
        hgroup{
            padding-bottom: 20px;
        }
    }

    @media screen and (min-width: $tablet) {

        hgroup{
            float: left;
            width: 60%;

            a{
                float: left;
            }
        }
        aside{
            float: left;
            width: 40%;
            text-align: right;

            .space{
                float: right;
                margin-bottom: 0px;
            }
            .temporada{
                padding: 10px;
            }
        }

    }
}

/* SECTIONS */
.section{
}

.app .single{
    margin: 100px auto;
}

.single{
    max-width: 720px;
    margin: 0px auto;
}

.article{

    padding: 20px;
    background: #000;
    background: rgba(0,0,0,0.9);

    p{
        font-size: 15px;
        margin-bottom: 15px;
        line-height: 1.5;
    }

    hgroup{
        position: relative;
        letter-spacing: 5px;
        display: block;
        width: 100%;

        h3{
            z-index: 12;
        }
        small{
            display: block;
            padding: 5px 10px;
            font-size: 11px;
        }
        strong{
            display: inline-block;
            color: $negro;
            background-color: $rojo;
            padding: 5px 10px;
            font-size: 14px;
        }

        h1{
            font-size: 20px;
            display: inline-block;
            background-color: $negro;
            color: $blanco;
            padding: 10px;
            border: 1px solid $rojo;
            box-shadow: 4px 4px 0px -1px $rojo;
            max-width: 75%;
            line-height: 1.3;
        }
    }

    figure{
        border: 1px solid $rojo;
        margin-top: 20px;
    
        @media screen and (min-width: $tablet) {
            width: 50%;
            float: left;
            margin: 20px 20px 20px -200px;
        }
    }


    .body{
        padding: 20px 20px 20px 0px;
    
        strong{
            color: $rojo;
            background-color: $rojo;
        }

        em{
            text-decoration: line-through;
        }

        span{

        }
    }

    .kodex_buttons{
        display: block;
        width: 100%;
        clear: both;

        .kodex_button{
            @extend .btn;
            margin-right: 10px;
            margin-bottom: 10px;
            line-height: 26px;

            .counter{
                display: inline-block;
                padding: 0px 10px;
                margin-left: 10px;
                color: $blanco;
                background: $negro;
            }
        }
    }

}

/* COMENTARIOS */

.comments-area{
    h3,
    a:hover{
        color: $rojo;
    }
}

.comments-area #wpcomm {
    padding: 10px 0px;
    border-top: $negro solid 1px;

    p{
        font-size: 12px;
    }

    .wc-form-wrapper{
        padding: 0px;
        border: none;
        background: transparent;
    }

    .avatar{
        border-radius: 50px;
    }
    .wc-comment-label{
        //display: none;
        border-radius: 4px;
        font-size: 10px
    }

    .wc-comment-header{
        font-family: inherit;
    }
    .wc-comment-author,
    .wc-comment-author a{
        font-size: 12px;
        line-height: 1;
    }
    .wc-toggle,
    .wc-comment-date{
        font-size: 11px; 
        font-style: italic;
        color: $gris;
    }
    .wc-comment-date{
        line-height: 1;
    }
    .wc-comment .wc-comment-right{
        border: 1px solid #111;
        border-radius: 4px;
    }
    .wc-comment-footer .wc-vote-result{
        color: $negro;

        &.wc-negative{
            background-color: $rojo;
            border: 1px solid $rojo;
        }
        &.wc-positive{
            background-color: $celeste;
            border: 1px solid $celeste;
        }
    }
    
    /* FORM */
    .wc-form-wrapper .ed_button{
        font-family: 'Hack','Monaco', monospace, courier;
        border: 1px solid $negro;
        background: #000;
        box-shadow: none;
    }
    .wc-form-wrapper .quicktags-toolbar {
        min-height: 37px;
        background: #000;
    }
    .wc-field-comment .wc-field-textarea textarea{
        background: $negro;
        font-family: 'Hack','Monaco', monospace, courier;
        font-size: 13px;
        &:focus{
            outline: none;
        }
    }
    .wc-field-submit input[type="button"]{
        @extend .btn;
    }
}

/* FOOTER */

#footer{
    text-align: center;
    margin-bottom: 100px;
}

#audio{

    @media screen and (min-width: $mobile) {
        position: fixed;
        bottom: 30px;
        left: 30px;
        z-index: 15;
    }

}

/* DEBUG */

.no-debug{
    #debug{
        display: none;
    }
}

#gui{
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 0px;
}

/* MODALS */

.mfp-bg {
    background-color: #000;
    position: relative;
    z-index: 100;
}
.mfp-fade.mfp-bg {
    top: 100px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
  top: 0px;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  top: 100px;
  transition: all 0.5s ease-out;
  width: 100%;
  height: 100%;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  top: 0px;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  top: 100px;
}

.mfp-close-btn-in .mfp-close{
    color: $rojo;
    font-size: 70px;
    top: 100px;
    right: 80px;
    opacity: 1;
}


/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}